<link rel="stylesheet" href="/css/buscador_perros.css">

<script>

    function set_option(option_id, selected) {
        var selection = document.getElementById(option_id);

        for(var i in Array.apply(null, selection.options)) {
            if(selection.options[i].value == selected) {
                selection.options[i].selected = true;
                return
            }
        }
    }

    window.onload = function() {
        var col = document.getElementsByClassName("dog_pic");
        for(let dog_pic of col) {
            if(dog_pic.naturalHeight == 0) {
                dog_pic.src = "/img/dog_profiles/not_found.jpg";
            }
        }
        
        set_option('f_sexo', '{{contenido.old.f_sexo}}')
        set_option('f_tamano', '{{contenido.old.f_tamano}}')
        set_option('f_raza', '{{contenido.old.f_razagit }}')

        set_option('f_p_actividad', '{{contenido.old.f_p_actividad}}');
        set_option('f_p_ruido', '{{contenido.old.f_p_ruido}}');
    };
</script>

<div class="search_sidebar">
    {{contenido.old}}
    <form method="POST" action="perros">
        <label>Sexo</label>
        <select id="f_sexo" name="f_sexo">
            <option value="MACHO">Macho</option>
            <option value="HEMBRA">Hembra</option>
            <option value="na" selected="selected">No importa</option>
        </select>
        <br>
        <label>Tamaño</label>
        <select id="f_tamano" name="f_tamano">
            <option value="S">Pequeño</option>
            <option value="M">Mediano</option>
            <option value="G">Grande</option>
            <option value="na" selected="selected">No importa</option>
        </select>
        <br>
        <label>Raza</label>
        <select id="f_raza" name="f_raza">
            {{{contenido.forma}}}
            <option value="na" selected="selected">No importa</option>
        </select>
        <br>
        <label id="lbl_personality">Personalidad</label>
        <div id="div_personality">
            <label>Energía</label>
            <select id="f_p_actividad" name="f_p_actividad">
                <option value="MUY ACTIVO">Muy activo</option>
                <option value="REGULAR">Regular</option>
                <option value="PEREZOSO">Perezoso</option>
                <option value="na" selected="selected">No importa</option>
            </select>
            <br>
            <label>Ruido</label>
            <select id="f_p_ruido" name="f_p_ruido">
                <option value="POCO">Poco</option>
                <option value="REGULAR">Regular</option>
                <option value="MUCHO">Mucho</option>
                <option value="DESCONOCIDO">Desconocido</option>
                <option value="na" selected="selected">No importa</option>

            </select>
        </div>
        <input type="submit" value="Woofear" id="btn-submit">
        
    </form>
</div>
<div class="dogs_grid_container container">
    {{{contenido.perritos}}}
</div>

